<div class="govuk-grid-row masthead">
  <div class="govuk-grid-column-full">
    <h1 class="app-masthead__title"><%= t('.heading') %></h1>
    <div class="app-masthead__description">
      <%= govspeak_to_html t('.body') %>
    </div>
    <%= govuk_start_button(
          text: t('.button_to_most_popular'),
          href: item_path(@most_popular_item)
        ) if @most_popular_item %>
  </div>
</div>

<% Location.roots.in_groups_of(3) do |locations| %>
  <div class="govuk-grid-row">
    <% locations.each do |location| %>
      <% if location %>
        <div class="govuk-grid-column-one-third">
          <h2><%= link_to location.name, location %></h2>
          <div><%= govspeak_to_html(location.description) %></div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
