<%= form_with(model: [item.location, item]) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.govuk_text_field :name %>

  <%= form.govuk_text_field :source_url %>

  <div class="govuk-form_group govuk-!-margin-bottom-7">
    <%= form.label :tag_list, 'Tags', style: "display: block", class: 'govuk-label' %>
    <%= form.text_field(
          :tag_list, 
          value: form.object.tag_list.join(','), 
          class: "govuk-input govuk-!-padding-0" 
        ) %>
  </div>

  <%= form.govuk_text_area :description %>


  <% parent_options = nested_set_options(Item, item) do |i|
      "#{'–' * i.level} #{i.name}"
     end
  %>
  <%= form.govuk_select(
        :parent_id, 
        parent_options, 
        options: { include_blank: 'Set as root' } 
      ) %>



  <%= form.govuk_submit %>

<% end %>

<%= javascript_tag do %>
  var inputElement = document.querySelector("#item_tag_list")
  var tagify = new Tagify(inputElement, {
        whitelist : <%= ActsAsTaggableOn::Tag.for_context(:tags).uniq.pluck(:name).to_json.html_safe %>,
        dropdown : {
            classname     : "color-blue",
            enabled       : 0,              // show the dropdown immediately on focus
            maxItems      : 5,
            position      : "text",         // place the dropdown near the typed text
            closeOnSelect : false,          // keep the dropdown open after selecting a suggestion
            highlightFirst: true
        }
      })
<% end %>
