<div id="<%= dom_id location %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= govspeak_to_html(location.description) %>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2>Metadata</h2>
      <p>
        <strong>Parent:</strong>
        <% if location.parent %>
          <%= link_to location.parent.name, location.parent %>
        <% else %>
          None - Root location
        <% end %>
      </p>
      <p>
        <strong>Children:</strong>
        <% if location.children.present? %>
          <% location.children.each do |child| %>
            <%= link_to child.name, child %>
          <% end %>
        <% else %>
          None
        <% end %>
      </p>


      <div class="govuk-button-group">
        <%= button_to(
              "Edit this location",
              edit_location_path(location),
              method: :get,
              class: "govuk-button govuk-button--secondary"
            ) %>

        <%= button_to(
              "Destroy this location",
              location,
              method: :delete,
              class: "govuk-button govuk-button--warning"
            )%>

        <%= button_to(
              "Add item at this location",
              new_location_item_path(location),
              method: :get,
              class: "govuk-button govuk-button--secondary"
            ) %>

        <%= button_to(
              "Add sub-location",
               new_sub_location_location_path(location),
              method: :get,
              class: "govuk-button govuk-button--secondary"
            ) %>
      </div>
    </div>
  </div>
</div>
