<%= govuk_breadcrumbs breadcrumbs: location_breadcrumbs(@location) %>

<div class="location-search">
  <%= form_tag(search_location_path(@location), method: :get) do %>
    <label class="govuk-visually-hidden" for="location-search__input">
      Search this location
    </label>
    <%= text_field_tag(
          'query', params[:query],
          id: "location-search__input",
          class: "location-search__input govuk-input govuk-input--width-20",
          placeholder: "Search this location"
        ) %>
    <%= submit_tag 'Search', class: "govuk-button govuk-button--secondary" %>
  <% end %>
</div>

<%= render @location %>

<h2><%= @location.name %> Items</h2>

<ul>
  <% @location.items.each do |item| %>
    <li>
      <strong><%= link_to item.name, location_item_path(@location, item) %></strong>
    </li>
  <% end %>
</ul>

<hr class="govuk-section-break govuk-section-break--visible">

<div class="govuk-grid-row">
  <% @location.children.each do |sub_location| %>
    <div class="govuk-grid-column-one-half">
      <div class="sub-location">
        <h3><%= sub_location.name %></h3>
        <%= link_to "View #{sub_location.name}", location_path(sub_location) %>
        <ul>
        <% sub_location.items.roots.each do |item| %>
          <li>
            <strong><%= link_to item.name, location_item_path(sub_location, item) %></strong>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
  <% end %>
</div>
