<%= govuk_breadcrumbs breadcrumbs: location_breadcrumbs(@location) %>

<%= render @location %>

<h2><%= @location.name %> Items</h2>
<ul>
  <% @location.items.each do |item| %>
    <li>
      <strong><%= link_to item.name, location_item_path(@location, item) %></strong>
    </li>
  <% end %>
</ul>

<hr class="govuk-section-break govuk-section-break--visible">

<div class="govuk-grid-row">
  <% @location.children.each do |sub_location| %>
    <div class="govuk-grid-column-one-half">
      <div class="sub-location">
        <h3><%= sub_location.name %></h3>
        <%= link_to "View #{sub_location.name}", location_path(sub_location) %>
        <ul>
        <% sub_location.items.roots.each do |item| %>
          <li>
            <strong><%= link_to item.name, location_item_path(sub_location, item) %></strong>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
  <% end %>
</div>
