<!DOCTYPE html>
<html>
  <head>
    <title>KnowledgeHub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= content_tag(:p, notice, class: 'notice', style: "color: green") if notice.present? %>
    <%= content_tag(:p, alert, class: 'alert', style: "color: red") if alert.present? %>
    <%= link_to 'Items:', items_path %>
    <% Item.roots.each do |root_item| %>
      <%= link_to root_item.name, root_item %>
    <% end %>
    <%= yield %>
  </body>
</html>
